<h2>Massivo</h2>

<form [formGroup]="authForm">
  <fieldset>
    <mat-form-field class="example-full-width">
        <mat-label>Contrato:</mat-label>
        <input matInput placeholder="11/12" formControlName="contract">
      </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
        <mat-label>Filial:</mat-label>
        <input matInput placeholder="11/12" formControlName="branch">
      </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
        <mat-label>Base:</mat-label>
        <input matInput placeholder="11/12" formControlName="base">
      </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
        <mat-label>Usuário:</mat-label>
        <input matInput placeholder="11/12" formControlName="user">
      </mat-form-field>
    <button mat-raised-button type="submit" color="primary" (click)="start()">Iniciar</button>
    <button mat-stroked-button color="accent" (click)="stop()">Parar</button>
  </fieldset>
</form>

<div class="container">
    <ag-grid-angular
        #agGrid
        style="width: 80vw; height: 500px; margin: 100px auto 0 auto"
        class="ag-theme-material"
        rowSelection="multiple"
        suppressRowClickSelection="true"
        [rowData]="rowData"
        [rowClassRules]="rowClassRules"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [enterMovesDown]="true"
        [enterMovesDownAfterEdit]="true"
        [enableCellTextSelection]="true"
        [overlayLoadingTemplate]="overlayLoadingTemplate"
        [paginationPageSize]="100"
        [pagination]="true"
        [frameworkComponents]="frameworkComponents"
        (cellEditingStarted)="onCellEditingStarted($event)"
        (cellEditingStopped)="onCellEditingStopped($event)"
        (gridReady)="onGridReady($event)"
        (cellValueChanged)="onCellValueChanged($event)"
        (rowClicked)="onRowClicked($event)"    
    >
    </ag-grid-angular>
    <br>
    <button mat-raised-button (click)="massiveEdit()" color="accent">Aplicar a todas</button>
</div>