h2 {
    text-align: center;
}

form {
    fieldset {
        border: none;
        display: flex;
        justify-content: space-around;
    }
}

.container {
    max-width: 80vw;
    margin: 100px auto 0 auto;
}

.line-edited {
    background-color:rgba(189, 214, 84, 0.4) !important;
} 

.line-error {
    background-color:rgba(215, 70, 77, .4)  !important;
}
