h2 {
    text-align: center;
}

.container {
    max-width: 80vw;
    margin: 100px auto 0 auto;
}

.rag-green {
    background-color:rgba(189, 214, 84, 0.4) !important;
} 

.rag-red {
    background-color:rgba(215, 70, 77, .4)  !important;
}
