h2 {
    text-align: center;
}

.container {
    max-width: 80vw;
    margin: 100px auto 0 auto;
}


.rag-green {
    background-color: green !important;
} 

.rag-red {
    background-color: red !important;
}
